<info display="none">
    want this on your site? check it out at https://feedback-on-github.possumlabs.com/
</info>
<div id="dice-roller-app">
    <div class="container">
        <div class="accordion" id="settings-container">
            <div class="accordion-item">
                <h2 class="accordion-header" id="settings">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Settings
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="settings"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" placeholder="1000 is 1 second"
                                aria-label="basic dice" aria-describedby="basic-dice" v-model="settings.duration">
                            <span class="input-group-text" id="basic-dice">ms</span>
                            <input type="number" class="form-control" placeholder="0-1" aria-label="mega dice"
                                aria-describedby="mega-dice" v-model="settings.shift">
                            <span class="input-group-text" id="mega-dice">shift</span>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input class="form-check-input" type="checkbox" value=""
                                    aria-label="Checkbox for drama" v-model="settings.drama">
                            </div>
                            <span class="input-group-text" id="drama-enable">drama is triggered</span>
                            <input type="number" class="form-control" aria-label="drama trigger rate" v-model="settings.dramapTriggerPrcentage">
                            <span class="input-group-text" id="drama-rate">% of the time</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <h2>Roll Settings</h2>
    <div class="container">
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="normal dice pool" aria-label="basic dice"
                aria-describedby="basic-dice" v-model="rollConfig.normalDicePool">
            <span class="input-group-text" id="basic-dice">Normal Pool</span>
            <input type="number" class="form-control" placeholder="mega dice pool" aria-label="mega dice"
                aria-describedby="mega-dice" v-model="rollConfig.megaDicePool">
            <span class="input-group-text" id="mega-dice">Mega Pool</span>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input" type="checkbox" value="" 
                aria-label="Checkbox for trait" v-model="rollConfig.qualityActive">
            </div>
            <span class="input-group-text" id="mega-dice">Quality Applicable</span>
            <input type="text" class="form-control" aria-label="Text input with checkbox"
                v-model="rollConfig.quality">

            <input type="number" class="form-control" placeholder="hopefully 1" aria-label="botch teshhold"
                aria-describedby="botchTeshhold"  v-model="rollConfig.botchTeshhold">
            <span class="input-group-text" id="botchTeshhold">Botch Teshhold</span>
        </div>

        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="probably 7" aria-label="target number"
                aria-describedby="target-number" v-model="rollConfig.targetNumber">
            <span class="input-group-text" id="target-number">Target Number</span>
            <input type="number" class="form-control" placeholder="hopefully 1" aria-label="difficulty"
                aria-describedby="difficulty"  v-model="rollConfig.difficulty">
            <span class="input-group-text" id="difficulty">Difficulty</span>
        </div>
    </div>

    <button class="btn btn-primary btn-lg"
        v-on:click="rollDice"
        >Roll Dice Pool</button>

    <h2 v-if="currentRoll?.dice">Roll Results</h2>
    <div class="container">
        <div class="row row-cols-auto g-4  justify-content-start" v-if="currentRoll?.dice">
            <die-view
            v-for="die in currentRoll.dice"
            v-bind:die="die"
            ></die-view>
        </div>
    </div>

    <div class="container" v-if="currentRoll?.revealed">
        <div class="input-group mb-3 result success" v-if="currentRoll.isSuccess">
            <h1>Success</h1>
        </div>
        <div class="input-group mb-3 result botch" v-if="currentRoll.isBotch">
            <h1>Botch</h1>
        </div>
        <div class="input-group mb-3 result" v-if="!currentRoll.isBotch&&!currentRoll.isSuccess">
            <h1>Failure</h1>
        </div>
        <div class="input-group mb-3 result" v-if="currentRoll.isSuccess">
            <input type="number" class="form-control" placeholder="successes" aria-label="successes" enabled="false"
                aria-describedby="successes" v-model="currentRoll.successes">
            <span class="input-group-text" id="successes">Excess Successes</span>
        </div>
    </div>

    <h2>Past rolls</h2>
    <div class="container">
        <roll-view
            v-for="roll in rollLog"
            v-bind:roll="roll"
        ></roll-view>
    </div>

</div>
